* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background:linear-gradient(to bottom, #87CEEB 60%, #002147 100%);
   font-family: Arial, sans-serif;
   overflow: hidden;
 }

 .container {
  text-align: center;
}

h1 {
   font-size: 40px;
   font-weight: bold;
   color: #333333;
   margin-bottom: 20px;
 }
 
 #mute-btn{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#mute-btn:hover {
    background-color: 0.25;
}

 button {
   padding: 15px 30px;
   font-size: 24px;
   font-weight: bold;
   color: linear-gradient(to bottom, #FF8C42, #FF4E50);
   background-color: linear-gradient(to bottom, #FF8C42, #FF4E50);
   border: 3px solid #000000;
   border-radius: 200px;
   cursor: pointer;
   transition: transform 0.2s ease;
 }
 
 button:hover {
   opacity: 0.25;
 }